@value default-dark-gray from 'canvas-editor/styles/theme';
@value default-gray from 'canvas-editor/styles/theme';
@value default-light-gray from 'canvas-editor/styles/theme';

.placeholder-editor {
  background: white;
  border-radius: 4px;
  box-shadow: 0 0 0 1px var(--light-gray, default-light-gray);
  color: var(--dark-gray, default-dark-gray);
  padding: 0.125rem 0.25rem;
  width: 100%;
}

.done {
  background: var(--gray, default-gray);
  border: none;
  border-radius: 3px;
  color: white;
  font-size: 0.75rem;
  outline: none;
  padding: 0 0.125rem;
  position: absolute;
  right: 0.3125rem;
  top: 0.3125rem;
}
