{{placeholder-editor-content
  block=block
  editingEnabled=editingEnabled
  isEditingPlaceholder=(mut isEditingPlaceholder)
  isMultiBlock=isMultiBlock
  onBlockMetaReplacedLocally=onBlockMetaReplacedLocally
  onDoubleSelectAll=onDoubleSelectAll
  onDoubleSelectToEnd=onDoubleSelectToEnd
  onDoubleSelectToStart=onDoubleSelectToStart
  onRedo=onRedo
  onUndo=onUndo
  onMultiBlockSelectUp=onMultiBlockSelectUp
  onMultiBlockSelectDown=onMultiBlockSelectDown}}

<button local-class="done" onclick={{action 'toggleIsEditing'}}>
  Done
</button>