{{placeholder-editor-content
  block=block
  editingEnabled=editingEnabled
  isEditingPlaceholder=(mut isEditingPlaceholder)
  isMultiBlock=isMultiBlock
  onBlockMetaReplacedLocally=onBlockMetaReplacedLocally
  onDoubleSelectAll=onDoubleSelectAll
  onMultiBlockSelectUp=onMultiBlockSelectUp
  onMultiBlockSelectDown=onMultiBlockSelectDown}}

<button local-class="done" onclick={{action 'toggleIsEditing'}}>
  Done
</button>
