@value --dark-gray from 'canvas-editor/styles/theme';
@value --extra-light-gray from 'canvas-editor/styles/theme';

.canvas-block-unknown {
  composes: canvas-block-card from 'canvas-editor/components/canvas-block-card/styles';
  background: --extra-light-gray;
  box-shadow: none;
  color: --dark-gray;
  text-align: center;
}
