@value default-black from 'canvas-editor/styles/theme';
@value default-blue from 'canvas-editor/styles/theme';
@value default-extra-light-gray from 'canvas-editor/styles/theme';
@value default-light-gray from 'canvas-editor/styles/theme';

.canvas-block-card {
  composes: canvas-block from 'canvas-editor/components/canvas-block/styles';
  box-shadow: 0 1px 1px var(--extra-light-gray, default-extra-light-gray);
  border: 1px solid var(--light-gray, default-light-gray);
  border-radius: 4px;
  font-size: 0.875em;
  padding: 0.75rem;
}

.canvas-block-card[data-card-block-selected=true] {
  border-color: var(--blue, default-blue);
  box-shadow: 0 0 0 1px var(--blue, default-blue);
}

.canvas-block-card a:link,
.canvas-block-card a:visited {
  color: var(--black, default-black);
}
