@value --black from 'canvas-colors/styles/colors';
@value --light-gray from 'canvas-colors/styles/colors';

.component {
  composes: component from '../canvas-block/styles';
  border: 1px solid --light-gray;
  border-radius: 4px;
  font-size: 0.875em;
  padding: 0.75rem;
}

.component a:link,
.component a:visited {
  color: --black;
}
