@value --light-gray from 'canvas-colors/styles/colors';

.component {
  composes: component from '../canvas-block/styles';
  border: 1px solid --light-gray;
  border-radius: 4px;
  font-size: 0.875em;
  padding: 0.5rem;
}
