.canvas-block-title-content {
  composes: canvas-block-editable from 'canvas-editor/components/canvas-block-editable/styles';
  font-size: 2.25rem;
  font-weight: 600;
}

.is-empty {
  composes: is-empty from 'canvas-editor/components/canvas-block-editable/styles';
}

.is-focused {
  composes: is-focused from 'canvas-editor/components/canvas-block-editable/styles';
}
