@value --light-gray from 'canvas-editor/styles/theme';
@value --gray from 'canvas-editor/styles/theme';

.ui-progress-bar,
.bar {
  border-radius: 1000px;
}

.ui-progress-bar {
  background: --light-gray;
  height: 3px;
  overflow: hidden;
  width: 100%;
}

.bar {
  background: --gray;
  height: 100%;
  transition: width 0.2s ease-in-out;
}
