@value --dark-gray from 'canvas-colors/styles/colors';

.component {
  composes: component from '../canvas-block-card/styles';
}

.main {
  display: flex;
}

.main-content {
  flex: 1;
  margin-right: 1rem;
}

.header {
  align-items: center;
  display: flex;
}

.title {
  font-weight: 600;
}

.provider-icon {
  display: block;
  height: 24px;
  margin-right: 8px;
  width: 24px;
}

.text {
  color: --dark-gray;
  margin-top: 0.25em;
}

.thumbnail {
  border-radius: 4px;
}

.fields {
  display: flex;
  flex-wrap: wrap;
}

.field {
  margin-top: 0.5rem;
  width: 100%;
}

.field--short {
  width: 50%;
}

.field-title {
  font-weight: 600;
}

.field-value {
  color: --dark-gray;
}

.labels {
  display: flex;
  font-size: 0.875em;
  margin-top: 0.5rem;
}

.label {
  align-items: center;
  display: flex;
  margin-right: 1rem;
}

.label-icon {
  margin-right: 0.25em;
}
