@value --extra-light-gray from 'canvas-colors/styles/colors';
@value --gray from 'canvas-colors/styles/colors';

.component {
  composes: component from '../canvas-block-card/styles';
  display: flex;
  padding: 1rem;
  overflow: hidden;
}

.content {
  flex: 1;
  margin-right: 1rem;
}

.title,
.summary {
  margin-bottom: 0.5em;
}

.title {
  display: block;
}

.domain {
  color: --gray;
  font-size: 0.875em;
}

.image {
  background-color: --extra-light-gray;
  background-size: cover;
  border-radius: 4px;
  height: 128px;
  width: 128px;
}
