<div local-class="content">
  <a local-class="title" href="#">{{unfurl.title}}</a>
  <div local-class="summary">{{unfurl.text}}</div>

  <div local-class="domain">github.com</div>
</div>

<div local-class="image" style="background-image: url('{{image}}');"></div>
