{{#if canvasLinkComponent}}
  {{canvas-link blockID=block.id filter=filterTerm class=styles.block-link}}
{{/if}}

<div local-class="content">
  {{canvas-block-heading-content
    block=block
    editingEnabled=editingEnabled
    changeBlockType=changeBlockType
    isFocused=(mut isFocused)
    onBlockDeletedLocally=onBlockDeletedLocally
    onBlockMetaReplacedLocally=onBlockMetaReplacedLocally
    onBlockReplacedLocally=onBlockReplacedLocally
    onNavigateDown=onNavigateDown
    onNavigateLeft=onNavigateLeft
    onNavigateRight=onNavigateRight
    onNavigateUp=onNavigateUp
    onBlockContentUpdatedLocally=onBlockContentUpdatedLocally
    onBlockTypeUpdatedLocally=onBlockTypeUpdatedLocally
    onNewBlockInsertedLocally=onNewBlockInsertedLocally}}
</div>
