@value --block-placeholder-color from 'canvas-editor/styles/theme';
@value --dark-gray from 'canvas-editor/styles/theme';
@value --editor-monospace-font-family from 'canvas-editor/styles/theme';
@value --extra-light-gray from 'canvas-editor/styles/theme';

.canvas-block-editable {
  position: relative;
  white-space: pre-wrap;
}

.is-empty::after {
  color: --block-placeholder-color;
  content: attr(data-placeholder);
  display: block;
  left: 0;
  position: absolute;
  top: 0;
}
