@value --block-placeholder-color from 'canvas-editor/styles/theme';

.component {
  position: relative;
  white-space: pre-wrap;
}

.is-empty::after {
  color: --block-placeholder-color;
  content: attr(data-placeholder);
  display: block;
  left: 0;
  position: absolute;
  top: 0;
}
