@value --editor-background-color from "canvas-editor/styles/theme";
@value --editor-font-family from "canvas-editor/styles/theme";
@value --editor-line-height from "canvas-editor/styles/theme";
@value --editor-padding from "canvas-editor/styles/theme";
@value --editor-text-color from "canvas-editor/styles/theme";
@value --editor-link-color from "canvas-editor/styles/theme";

.canvas-editor {
  background-color: --editor-background-color;
  color: --editor-text-color;
  font-family: --editor-font-family;
  line-height: --editor-line-height;
  padding: --editor-padding;
}

.canvas-editor [contenteditable] {
  outline: 0;
}

.canvas-editor a {
  color: --editor-link-color;
  text-decoration: none;
}
