@value default-editor-background-color from "canvas-editor/styles/theme";
@value default-editor-font-family from "canvas-editor/styles/theme";
@value default-editor-line-height from "canvas-editor/styles/theme";
@value default-editor-padding from "canvas-editor/styles/theme";
@value default-editor-text-color from "canvas-editor/styles/theme";
@value default-editor-link-color from "canvas-editor/styles/theme";

.canvas-editor {
  background-color: var(--editor-background-color, default-editor-background-color);
  color: var(--editor-text-color, default-editor-text-color);
  font-family: var(--editor-font-family, default-editor-font-family);
  line-height: var(--editor-line-height, default-editor-line-height);
  padding: var(--editor-padding, default-editor-padding);
}

.canvas-editor [contenteditable] {
  outline: 0;
}

.canvas-editor a {
  color: var(--editor-link-color, default-editor-link-color);
  text-decoration: none;
}
