@value --list-bullet-color from "canvas-editor/styles/theme";

.canvas-block-unordered-list-member {
  list-style: none;
  position: relative;
}

.canvas-block-unordered-list-member::before {
  background: --list-bullet-color;
  border-radius: 50%;
  box-sizing: border-box;
  content: "";
  height: 0.5em;
  left: -1em;
  margin-right: 0.5em;
  position: absolute;
  top: 0.45em;
  width: 0.5em;
}
