@value --dark-gray from 'canvas-colors/styles/colors';
@value --editor-monospace-font-family from 'canvas-editor/styles/theme';
@value --extra-light-gray from 'canvas-colors/styles/colors';
@value --light-gray from 'canvas-colors/styles/colors';

.canvas-block-code {
  composes: canvas-block from 'canvas-editor/components/canvas-block/styles';
}

.content {
  background: --extra-light-gray;
  border-radius: 4px;
  border: 1px solid --light-gray;
  color: --dark-gray;
  display: block;
  font-family: --editor-monospace-font-family;
  font-size: 0.9375em;
  overflow-x: auto;
  padding: 0.5em 1em;
}
