@value --light-gray from 'canvas-colors/styles/colors';
@value --blue from 'canvas-colors/styles/colors';

.component {
  composes: component from 'canvas-editor/components/canvas-block/styles';
}

.component img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.component[data-card-block-selected=true] img {
  box-shadow: 0 0 0 2px --blue;
}
