@value default-blue from 'canvas-editor/styles/theme';

.canvas-block-image {
  composes: canvas-block from 'canvas-editor/components/canvas-block/styles';
}

.canvas-block-image img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.canvas-block-image[data-card-block-selected=true] img {
  box-shadow: 0 0 0 2px var(--blue, default-blue);
}
