@value default-blue from 'canvas-editor/styles/theme';
@value default-light-gray from 'canvas-editor/styles/theme';

.canvas-block {
  position: relative;
}

.is-selected {
  background: #B2D7FF;
  transition: background 0.15s ease-in-out;
}

.placeholder-editor {
  bottom: -0.125rem;
  left: -0.25rem;
  position: absolute;
  position: absolute;
  right: -0.25rem;
  top: -0.125rem;
  z-index: 99999;
}
