@value default-blue from 'canvas-editor/styles/theme';
@value default-light-gray from 'canvas-editor/styles/theme';

.block-spacing {
  margin: 0 0 1.5rem;
}

.block-spacing:last-child {
  margin-bottom: 0;
}

.canvas-block {
  composes: block-spacing;
  position: relative;
}

.is-selected {
  background: #B2D7FF;
  transition: background 0.15s ease-in-out;
}

.block-link {
  bottom: 0.0625rem;
  display: block;
  left: -1rem;
  opacity: 0;
  position: absolute;
  top: 0.0625rem;
  width: 1rem;
}

.block-link::before {
  background: var(--light-gray, default-light-gray);
  border-radius: 1000px;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  width: 3px;
}

.canvas-block:hover .block-link,
.block-link:active,
.block-link:focus,
.is-focused .block-link,
[data-card-block-selected=true] .block-link {
  opacity: 1;
}

.block-link:active::before,
.block-link:focus::before,
.is-focused .block-link::before,
[data-card-block-selected=true] .block-link::before {
  background: var(--blue, default-blue);
}

.placeholder-editor {
  bottom: -0.125rem;
  left: -0.25rem;
  position: absolute;
  position: absolute;
  right: -0.25rem;
  top: -0.125rem;
  z-index: 99999;
}
