@value --dark-gray from 'canvas-colors/styles/colors';

.component {
  composes: component from '../canvas-block-card/styles';
  display: flex;
}

.icon {
  background: url('/canvas-editor/images/document.svg');
  display: block;
  height: 2rem;
  margin-right: 0.25rem;
  width: 2rem;
}

.content {
  flex: 1;
}

.title {
  display: block;
  font-weight: 600;
  text-decoration: none;
}

.summary {
  color: --dark-gray;
}

.progress {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 48px;
  margin-left: 1rem;
  width: 48px;
}
