<div local-class="icon"></div>

<div local-class="content">
  <a local-class="title" href="#">{{title}}</a>

  <div local-class="summary">{{text}}</div>
</div>

<div local-class="progress">
  {{ui-progress-donut progress=progress}}
</div>
