<div local-class="icon"></div>

<div local-class="content">
  <a local-class="title" href="#">The Canvas Title</a>

  <div local-class="summary">
    This is the Canvas summary that is coming from the service.
  </div>
</div>
