<div local-class="icon"></div>

<div local-class="content">
  <a local-class="title" href="{{unfurled.url}}">{{unfurled.title}}</a>
  <div local-class="summary">{{unfurled.text}}</div>
</div>

{{#if hasProgress}}
  <div local-class="progress">
    {{ui-progress-donut progress=progress}}
  </div>
{{/if}}
