@value default-dark-gray from 'canvas-editor/styles/theme';
@value default-debug-color: rgba(0, 255, 255, 0.25);
@value default-extra-light-gray from 'canvas-editor/styles/theme';

.debug-bar {
  align-items: center;
  background: var(--extra-light-gray, default-extra-light-gray);
  color: var(--dark-gray, default-dark-gray);
  display: flex;
  font-size: 0.875rem;
  left: 0;
  padding: 0.5rem;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.debug-grid {
  background-image:
    linear-gradient(transparent 7px, var(--debug-color, default-debug-color) 8px),
    linear-gradient(90deg, transparent 7px, var(--debug-color, default-debug-color) 8px);
  background-position: calc(50% - 4px) top;
  background-size: 8px 8px;
  box-shadow: 0 0 0 1px var(--debug-color, default-debug-color) inset;
}
