@value default-dark-gray from 'canvas-editor/styles/theme';
@value default-extra-light-gray from 'canvas-editor/styles/theme';

.canvas-block-upload {
  composes: canvas-block-card from 'canvas-editor/components/canvas-block-card/styles';
  align-items: center;
  background: var(--extra-light-gray, default-extra-light-gray);
  box-shadow: none;
  color: var(--dark-gray, default-dark-gray);
  display: flex;
  position: relative;
}

.icon {
  margin-right: 0.5rem;
}

.icon svg {
  display: block;
  fill: var(--dark-gray, default-dark-gray);
}

.main {
  flex: 1;
}

.progress {
  margin-top: 0.5rem;
}

.block-link {
  composes: block-link from 'canvas-editor/components/canvas-block/styles';
}

.is-selected {
  composes: is-selected from 'canvas-editor/components/canvas-block/styles';
}
