@value --dark-gray from 'canvas-editor/styles/theme';
@value --extra-light-gray from 'canvas-editor/styles/theme';

.canvas-block-upload {
  composes: canvas-block-card from 'canvas-editor/components/canvas-block-card/styles';
  align-items: center;
  background: --extra-light-gray;
  box-shadow: none;
  color: --dark-gray;
  display: flex;
  position: relative;
}

.block-link {
  composes: block-link from 'canvas-editor/components/canvas-block/styles';
}
