<div local-class="icon">
  {{svg-jar 'Upload' height=24 width=24}}
</div>

<div local-class="main">
  <div local-class="filename">
    styleguide-book.pdf
  </div>

  <div local-class="progress">
    {{ui-progress-bar progress=progress}}
  </div>
</div>
