@value --light-gray from 'canvas-colors/styles/colors';
@value --blue from 'canvas-colors/styles/colors';

.canvas-block-horizontal-rule {
  background: --light-gray;
  height: 1px;
  margin: -1px 0 1.5rem;
}

.canvas-block-horizontal-rule[data-card-block-selected=true] {
  background: --blue;
  box-shadow: 0 0 0 1px --blue;
}
