@value --extra-light-gray from 'canvas-editor/styles/theme';
@value --gray from 'canvas-editor/styles/theme';
@value --light-gray from 'canvas-editor/styles/theme';

.slider {
  -webkit-appearance: none;
  background-color: transparent;
  background-image: linear-gradient(90deg, --extra-light-gray 2px, --light-gray 2px);
  background-size: 4px 100%;
  box-shadow: inset 0 0 0 2px white;
  border-radius: 4px;
  border: 2px solid --gray;
  display: block;
  height: 16px;
  outline: none;
  width: 100%;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: white;
  border-radius: 4px;
  box-shadow: 0 0 2px --gray;
  height: calc(18px + 4px);
  margin-top: -1px;
  width: 6px;
}
