@value --gray from 'canvas-editor/styles/theme';

.slider {
  -webkit-appearance: none;
  background-color: transparent;
  border-radius: 4px;
  border: 2px solid --gray;
  height: 32px;
  width: 100%;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: white;
  border-radius: 4px;
  box-shadow: 0 0 2px --gray;
  height: calc(34px + 4px);
  margin-top: -1px;
  width: 6px;
}
