@value --blue from "canvas-colors/styles/colors";
@value --light-gray from "canvas-colors/styles/colors";

.component {
  composes: component from 'canvas-editor/components/canvas-block/styles';
}

.component::after {
  background: --light-gray;
  content: '';
  display: block;
  height: 1px;
  margin-top: 1em;
  width: 10%;
}

.content {
  display: flex;
}

.title {
  flex: 1;
}

.actions {
  margin-left: 1rem;
  margin-top: 0.6rem;
}

.suggestions {
  font-size: 0.875rem;
  position: relative;
}

.suggestions-content {
  background: rgba(0, 0, 0, 0.8);
  border-radius: 4px;
  color: white;
  padding: 0.25rem;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 99999;
}

.template {
  padding: 0.25rem 0.5rem;
}

.template:hover {
  background: --blue;
  border-radius: 3px;
  color: white;
  cursor: pointer;
}
