<div local-class="content">
  {{canvas-block-title-content
    block=block
    changeBlockType=changeBlockType
    isFocused=(mut isFocused)
    onBlockDeletedLocally=onBlockDeletedLocally
    onBlockReplacedLocally=onBlockReplacedLocally
    onNavigateDown=onNavigateDown
    onNavigateLeft=onNavigateLeft
    onNavigateRight=onNavigateRight
    onNavigateUp=onNavigateUp
    onBlockContentUpdatedLocally=onBlockContentUpdatedLocally
    onBlockTypeUpdatedLocally=onBlockTypeUpdatedLocally
    onNewBlockInsertedLocally=onNewBlockInsertedLocally}}

  {{#if showTemplates}}
    <div local-class="suggestions">
      {{#ui-list-filter
        filter=(action 'filterTemplates')
        value=block.content
        as |templates|}}
        {{#if templates}}
          <div local-class="suggestions-content">
            {{#each templates as |template|}}
              <div local-class="template">{{template.title}}</div>
            {{/each}}
          </div>
        {{/if}}
      {{/ui-list-filter}}
    </div>
  {{/if}}
</div>
