<div local-class="content">
  {{canvas-block-title-content
    block=block
    changeBlockType=changeBlockType
    onBlockDeletedLocally=onBlockDeletedLocally
    onNavigateDown=onNavigateDown
    onNavigateLeft=onNavigateLeft
    onNavigateRight=onNavigateRight
    onNavigateUp=onNavigateUp
    onBlockContentUpdatedLocally=onBlockContentUpdatedLocally
    onBlockTypeUpdatedLocally=onBlockTypeUpdatedLocally
    onNewBlockInsertedLocally=onNewBlockInsertedLocally}}
</div>
