@value --list-indent: 1.625em;

.canvas-block-checklist-item {
  list-style: none;
  padding-left: 1.5em;
  position: relative;
}

.checkbox {
  box-sizing: border-box;
  height: 1.125em;
  left: 0;
  position: absolute;
  top: 0.125em;
  width: 1.125em;
}

.checklist-level-1 {
  margin-left: calc(0 * --list-indent);
}

.checklist-level-2 {
  margin-left: calc(1 * --list-indent);
}

.checklist-level-3 {
  margin-left: calc(2 * --list-indent);
}

.checklist-level-4 {
  margin-left: calc(3 * --list-indent);
}
