.canvas-block-checklist-item {
  composes: canvas-block-list-item from 'canvas-editor/components/canvas-block-list/item';
}

.container {
  composes: container from 'canvas-editor/components/canvas-block-list/item';
}

.level-1 {
  composes: level-1 from 'canvas-editor/components/canvas-block-list/item';
}

.level-2 {
  composes: level-2 from 'canvas-editor/components/canvas-block-list/item';
}

.level-3 {
  composes: level-3 from 'canvas-editor/components/canvas-block-list/item';
}

.level-4 {
  composes: level-4 from 'canvas-editor/components/canvas-block-list/item';
}

.checkbox {
  box-sizing: border-box;
  height: 1.125em;
  left: 0;
  position: absolute;
  top: 0.125em;
  width: 1.125em;
}

.is-selected {
  composes: is-selected from 'canvas-editor/components/canvas-block/styles';
}

.placeholder-editor {
  composes: placeholder-editor from 'canvas-editor/components/canvas-block-list/item';
}
