<div local-class="checkbox">
  {{ui-checkbox checked=block.meta.checked onToggle=(action 'onToggleChecked')}}
</div>

<div local-class="content">
  {{canvas-block-checklist-item-content
    block=block
    changeBlockType=changeBlockType
    isFocused=(mut isFocused)
    onBlockDeletedLocally=onBlockDeletedLocally
    onNavigateDown=onNavigateDown
    onNavigateLeft=onNavigateLeft
    onNavigateRight=onNavigateRight
    onNavigateUp=onNavigateUp
    onBlockContentUpdatedLocally=onBlockContentUpdatedLocally
    onBlockTypeUpdatedLocally=onBlockTypeUpdatedLocally
    onNewBlockInsertedLocally=onNewBlockInsertedLocally}}
</div>
