<div local-class="main">
  <div local-class="main-content">
    <div local-class="header">
      {{svg-jar typeIcon height='24' width='24' local-class='provider-icon'}}

      {{#component canvasLinkComponent url=unfurled.url local-class='title'}}
        {{unfurled.title}}
      {{/component}}
    </div>

    {{#if unfurled.text}}
      <div local-class="text">{{unfurled.text}}</div>
    {{/if}}
  </div>

  {{#if hasProgress}}
    <div local-class="progress">
      {{ui-progress-donut progress=progress}}
    </div>
  {{/if}}
</div>
