@value --blue from 'canvas-colors/styles/colors';
@value --light-gray from 'canvas-colors/styles/colors';

.canvas-block-paragraph {
  composes: canvas-block from 'canvas-editor/components/canvas-block/styles';
  position: relative;
}

.is-focused {
  position: relative;
}

.is-focused::before {
  background: --blue;
  border-radius: 1000px;
  content: '';
  height: 100%;
  left: -1rem;
  position: absolute;
  top: 0;
  width: 3px;
}

.actions {
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 0.2s ease-in-out;
}

.canvas-block-paragraph:hover .actions {
  opacity: 1;
}
