.canvas-block-paragraph {
  composes: canvas-block from 'canvas-editor/components/canvas-block/styles';
}

.block-link {
  composes: block-link from 'canvas-editor/components/canvas-block/styles';
}

.is-focused {
  composes: is-focused from 'canvas-editor/components/canvas-block/styles';
}
