{{#if canvasLinkComponent}}
  {{component canvasLinkComponent
    blockID=block.id
    canvasID=canvasID
    class=styles.block-link
    filter=filterTerm}}
{{/if}}

<div local-class="content">
  {{canvas-block-paragraph-content
    block=block
    changeBlockType=changeBlockType
    editingEnabled=editingEnabled
    isEditingPlaceholder=(mut isEditingPlaceholder)
    isFocused=(mut isFocused)
    isMultiBlock=isMultiBlock
    isSelected=isSelected
    isTemplate=isTemplate
    onBlockDeletedLocally=onBlockDeletedLocally
    onBlockReplacedLocally=onBlockReplacedLocally
    onDoubleSelectAll=onDoubleSelectAll
    onDoubleSelectToEnd=onDoubleSelectToEnd
    onDoubleSelectToStart=onDoubleSelectToStart
    onRedo=onRedo
    onUndo=onUndo
    onMultiBlockSelectUp=onMultiBlockSelectUp
    onMultiBlockSelectDown=onMultiBlockSelectDown
    onNavigateDown=onNavigateDown
    onNavigateLeft=onNavigateLeft
    onNavigateRight=onNavigateRight
    onNavigateUp=onNavigateUp
    onSwapBlockUp=onSwapBlockUp
    onSwapBlockDown=onSwapBlockDown
    onBlockContentUpdatedLocally=onBlockContentUpdatedLocally
    onBlockTypeUpdatedLocally=onBlockTypeUpdatedLocally
    onNewBlockInsertedLocally=onNewBlockInsertedLocally
    pasteBlocksAfter=pasteBlocksAfter}}
</div>

{{#if isEditingPlaceholder}}
  <div local-class="placeholder-editor">
    {{placeholder-editor
      block=block
      editingEnabled=editingEnabled
      isEditingPlaceholder=(mut isEditingPlaceholder)
      onBlockMetaReplacedLocally=onBlockMetaReplacedLocally}}
  </div>
{{/if}}
