@value default-gray from 'canvas-editor/styles/theme';

.canvas-block-wrapper {
  margin: 0 0 1.5rem;
  position: relative;

  &:last-child {
    margin-bottom: 0;
  }

  &.heading {
    margin: 2rem 0 0.5rem;
  }

  &.heading + &.heading {
    margin-top: 1rem;
  }

  &.unordered-list-item,
  &.checklist-item {
    margin: 0;
  }

  &.without-children:hover .comment-thread-indicator {
    background: var(--gray, default-gray);
  }
}

.comment-thread-indicator {
  background: none;
  border-radius: 50%;
  border: none;
  display: block;
  height: 0.625rem;
  outline: none;
  padding: 0;
  position: absolute;
  right: -1.5rem;
  text-indent: -99999em;
  top: 0.4375rem;
  width: 0.625rem;

  &.has-comments {
    background: var(--gray, default-gray);
  }
}

.comment-thread {
  margin-top: 1rem;
}
