@value --list-bullet-color from "canvas-editor/styles/theme";
@value --blue from "canvas-editor/styles/theme";
@value --list-indent: 1.625em;

.canvas-block-unordered-list-item {
  list-style: none;
  padding-left: 1.5em;
  position: relative;
}

.canvas-block-unordered-list-item ~ .canvas-block-unordered-list-item {
  margin: 0;
}

.canvas-block-unordered-list-item::before {
  background: --list-bullet-color;
  border-radius: 50%;
  box-sizing: border-box;
  content: '';
  display: block;
  height: 0.5em;
  left: 0.3125em;
  position: absolute;
  top: 0.4375em;
  width: 0.5em;
}

.unordered-list-level-1 {
  margin-left: calc(0 * --list-indent);
}

.unordered-list-level-2 {
  margin-left: calc(1 * --list-indent);
}

.unordered-list-level-3 {
  margin-left: calc(2 * --list-indent);
}

.unordered-list-level-4 {
  margin-left: calc(3 * --list-indent);
}

.is-focused::before {
  background: --blue;
}
