@value --list-bullet-color from "canvas-editor/styles/theme";

.component {
  composes: component from 'canvas-editor/components/canvas-block-editable/styles';
  list-style: none;
  padding-left: 1.5em;
  position: relative;
}

.component ~ .component {
  margin: 0;
}

.component::before {
  background: --list-bullet-color;
  border-radius: 50%;
  box-sizing: border-box;
  content: '';
  display: block;
  height: 0.5em;
  left: 0.3125em;
  position: absolute;
  top: 0.4375em;
  width: 0.5em;
}
