@value --list-bullet-color from "canvas-editor/styles/theme";
@value --list-bullet-color-focused from "canvas-editor/styles/theme";

.canvas-block-unordered-list-item {
  composes: canvas-block-list-item from 'canvas-editor/components/canvas-block-list/item';
}

.level-1 {
  composes: level-1 from 'canvas-editor/components/canvas-block-list/item';
}

.level-2 {
  composes: level-2 from 'canvas-editor/components/canvas-block-list/item';
}

.level-3 {
  composes: level-3 from 'canvas-editor/components/canvas-block-list/item';
}

.level-4 {
  composes: level-4 from 'canvas-editor/components/canvas-block-list/item';
}

.canvas-block-unordered-list-item::before {
  background: --list-bullet-color;
  border-radius: 50%;
  box-sizing: border-box;
  content: '';
  display: block;
  height: 0.5em;
  left: 0.3125em;
  position: absolute;
  top: 0.4375em;
  width: 0.5em;
}

.is-focused::before {
  background: --list-bullet-color-focused;
}
