{{#if canvasLinkComponent}}
  {{component canvasLinkComponent
    blockID=block.id
    canvasID=canvasID
    class=styles.block-link
    filter=filterTerm}}
{{/if}}

<div class={{levelClass}} local-class="container">
  <div local-class="content">
    {{canvas-block-unordered-list-item-content
      block=block
      editingEnabled=editingEnabled
      changeBlockType=changeBlockType
      isEditingPlaceholder=(mut isEditingPlaceholder)
      isFocused=(mut isFocused)
      isMultiBlock=isMultiBlock
      isTemplate=isTemplate
      indentBlock=(action offsetLevel 1)
      unindentBlock=(action offsetLevel -1)
      onBlockDeletedLocally=onBlockDeletedLocally
      onBlockReplacedLocally=onBlockReplacedLocally
      onDoubleSelectAll=onDoubleSelectAll
      onMultiBlockSelectUp=onMultiBlockSelectUp
      onMultiBlockSelectDown=onMultiBlockSelectDown
      onNavigateDown=onNavigateDown
      onNavigateLeft=onNavigateLeft
      onNavigateRight=onNavigateRight
      onNavigateUp=onNavigateUp
      onBlockContentUpdatedLocally=onBlockContentUpdatedLocally
      onBlockTypeUpdatedLocally=onBlockTypeUpdatedLocally
      onNewBlockInsertedLocally=onNewBlockInsertedLocally
      pasteBlocksWithSplit=pasteBlocksWithSplit}}
  </div>
</div>

{{#if isEditingPlaceholder}}
  <div local-class="placeholder-editor">
    {{placeholder-editor
      block=block
      editingEnabled=editingEnabled
      isEditingPlaceholder=(mut isEditingPlaceholder)
      onBlockMetaReplacedLocally=onBlockMetaReplacedLocally}}
  </div>
{{/if}}