{{#if canvasLinkComponent}}
  {{component canvasLinkComponent
    blockID=block.id
    class=styles.block-link
    filter=filterTerm}}
{{/if}}

<div local-class="content">
  {{canvas-block-unordered-list-item-content
    block=block
    editingEnabled=editingEnabled
    changeBlockType=changeBlockType
    isFocused=(mut isFocused)
    indentBlock=(action offsetLevel 1)
    unindentBlock=(action offsetLevel -1)
    onBlockDeletedLocally=onBlockDeletedLocally
    onBlockReplacedLocally=onBlockReplacedLocally
    onNavigateDown=onNavigateDown
    onNavigateLeft=onNavigateLeft
    onNavigateRight=onNavigateRight
    onNavigateUp=onNavigateUp
    onBlockContentUpdatedLocally=onBlockContentUpdatedLocally
    onBlockTypeUpdatedLocally=onBlockTypeUpdatedLocally
    onNewBlockInsertedLocally=onNewBlockInsertedLocally}}
</div>