<div class={{levelClass}} local-class="container">
  <div local-class="content">
    {{canvas-block-unordered-list-item-content
      block=block
      editingEnabled=editingEnabled
      changeBlockType=changeBlockType
      isEditingPlaceholder=(mut isEditingPlaceholder)
      isFocused=isFocused
      isMultiBlock=isMultiBlock
      isTemplate=isTemplate
      indentBlock=(action offsetLevel 1)
      unindentBlock=(action offsetLevel -1)
      onBlockDeletedLocally=onBlockDeletedLocally
      onBlockReplacedLocally=onBlockReplacedLocally
      onBlurBlock=onBlurBlock
      onDoubleSelectAll=onDoubleSelectAll
      onDoubleSelectToEnd=onDoubleSelectToEnd
      onDoubleSelectToStart=onDoubleSelectToStart
      onFocusBlock=onFocusBlock
      onRedo=onRedo
      onUndo=onUndo
      onMultiBlockSelectUp=onMultiBlockSelectUp
      onMultiBlockSelectDown=onMultiBlockSelectDown
      onNavigateDown=onNavigateDown
      onNavigateLeft=onNavigateLeft
      onNavigateRight=onNavigateRight
      onNavigateUp=onNavigateUp
      onSwapBlockUp=onSwapBlockUp
      onSwapBlockDown=onSwapBlockDown
      onBlockContentUpdatedLocally=onBlockContentUpdatedLocally
      onBlockTypeUpdatedLocally=onBlockTypeUpdatedLocally
      onNewBlockInsertedLocally=onNewBlockInsertedLocally
      pasteBlocksAfter=pasteBlocksAfter}}
  </div>
</div>

{{#if isEditingPlaceholder}}
  <div local-class="placeholder-editor">
    {{placeholder-editor
      block=block
      editingEnabled=editingEnabled
      isEditingPlaceholder=(mut isEditingPlaceholder)
      onBlockMetaReplacedLocally=onBlockMetaReplacedLocally}}
  </div>
{{/if}}
