<img src={{message.thumbnailUrl}} height="32" with="32" local-class="avatar">

<div local-class="main">
  <div local-class="meta">
    <span local-class="username">{{message.author}}</span>
    <span local-class="timestamp">{{message.createdAt}}</span>
  </div>

  <div local-class="text">{{message.text}}</div>
</div>
