<img src={{avatarUrl}} height="32" with="32" local-class="avatar">

<div local-class="main">
  <div local-class="meta">
    <span local-class="username">@jonathan</span>
    <span local-class="timestamp">2:15PM</span>
  </div>

  <div local-class="text">{{message}}</div>
</div>
