@value --blue from 'canvas-colors/styles/colors';
@value --gray from 'canvas-colors/styles/colors';

.component {
  border: 2px solid --gray;
  border-radius: 50%;
  height: 16px;
  width: 16px;
}

.is-checked {
  background: --blue;
  border-color: --blue;
}
