@value --dark-gray from 'canvas-colors/styles/colors';
@value --light-gray from 'canvas-colors/styles/colors';
@value --extra-light-gray from 'canvas-colors/styles/colors';

.component {
  composes: component from 'canvas-editor/components/canvas-block-card/styles';
  align-items: center;
  background: --extra-light-gray;
  box-shadow: none;
  color: --dark-gray;
  display: flex;
  position: relative;
}

.remove {
  cursor: pointer;
  line-height: 1;
  font-family: Arial, sans-serif;
  font-size: 1rem;
  position: absolute;
  right: 0.75rem;
  top: 0.5rem;
  transform: rotate(45deg);
}

.icon {
  background: url('/canvas-editor/images/light-bulb.svg');
  height: 2rem;
  margin-right: 1rem;
  width: 2rem;
}

.content {
  flex: 1;
}

.title {
  font-weight: 600;
}
